<td>
  <span class="text-grey display-inline-block pl-4"><%= model.position %></span>
</td>
<td>
  <span><%= model.name %></span>
  <span class="tag"><%= model.type_i18n %></span>
</td>
<td>
  <p><%= model.value %></p>
  <p><%= model.mp_appid %></p>
  <p><%= model.mp_pagepath %></p>
</td>
<td>
  <% if model.is_a?(Wechat::Menu) %>
    <% if model.disabled_id %>
      <%= button_to({ controller: 'menu_disables', action: 'destroy', menu_id: model.id, id: model.disabled_id }, method: :delete, class: 'button is-rounded is-small') do %>
        <%= svg_tag 'rotate-left', class: 'icon is-small text-success' %>
        <span>恢复此菜单</span>
      <% end %>
    <% else %>
      <%= button_to({ controller: 'menu_disables', action: 'create', menu_id: model.id }, class: 'button is-rounded is-small') do %>
        <%= svg_tag 'xmark', class: 'icon is-small text-danger' %>
        <span>禁用此菜单</span>
      <% end %>
    <% end %>
    <%= button_to({ controller: 'menu_apps', action: 'new', menu_id: model.id }, params: { 'menu_app[menu_position]': model.position - 1 }, class: 'button is-rounded is-small is-link') do %>
      <%= svg_tag 'plus' %>
      <span>在此菜单之前添加</span>
    <% end %>
    <%= button_to({ controller: 'menu_apps', action: 'new', menu_id: model.id }, params: { 'menu_app[menu_position]': model.position }, class: 'button is-rounded is-small is-info') do %>
      <%= svg_tag 'plus' %>
      <span>在此菜单之后添加</span>
    <% end %>
  <% end %>
</td>