<dl class="as-show is-striped">
  <div>
    <dt><%= Wechat::Platform.human_attribute_name(:url) %></dt>
    <dd><%= @platform.domain %></dd>
  </div>
  <div>
    <dt><%= Wechat::Platform.human_attribute_name(:token) %></dt>
    <dd><%= @platform.token %></dd>
  </div>
  <div>
    <dt><%= Wechat::Platform.human_attribute_name(:encoding_aes_key) %></dt>
    <dd><%= @platform.encoding_aes_key %></dd>
  </div>
  <div>
    <dt>授权事件接收配置</dt>
    <dd><%= url_for(controller: 'wechat/platforms', action: 'notify', id: @platform.id, only_path: false) %></dd>
  </div>
  <div>
    <dt>消息与事件接收配置</dt>
    <dd><%= url_for(controller: 'wechat/platforms', action: 'message', id: @platform.id, appid: '$APPID$', only_path: false) %></dd>
  </div>
</dl>
