<%= button_to({ action: 'new' }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'plus' %>
  <span><%= t('.new.title') %></span>
<% end %>
<%= button_to({ action: 'sync' }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'rotate' %>
  <span><%= t('.sync.title') %></span>
<% end %>
