<th>
  <p><%= Wechat::TemplateConfig.human_attribute_name(:tid) %></p>
  <p><%= Wechat::TemplateConfig.human_attribute_name(:title) %></p>
</th>
<th style="width: 40%">
  <p><%= Wechat::TemplateConfig.human_attribute_name(:template_key_words) %></p>
</th>
<th>
  <p><%= Wechat::TemplateConfig.human_attribute_name(:notifiable_type) %></p>
  <p><%= Wechat::TemplateConfig.human_attribute_name(:code) %></p>
</th>
