<td>
  <p>
    <span><%= model.tid %></span>
    <span class="tag is-info"><%= model.type_i18n %></span>
  </p>
  <p><%= model.title %></p>
</td>
<td>
<% model.template_key_words.each do |tkw| %>
  <p>
    <span><%= tkw.note %></span>
    <span class="tag"><%= tkw.mapping %></span>
  </p>
<% end %>
</td>
<td>
  <p><%= model.notifiable_type %></p>
  <p><%= model.code %></p>
</td>
